# Environment
NODE_ENV=development
WEBSITE_URL=http://localhost:3000
APPLICATION_ID=

# Better Auth - Configuration
BETTER_AUTH_SECRET=

# Database (Turso)
DATABASE_URL=
DATABASE_AUTH_TOKEN=

# Payments and tracking
AUTUMN_SECRET_KEY=
